#grid {
  display: grid;
  grid-template:
    "output output output output" 1fr
    "output output output output" 1fr
    "clear positiveNegative percent division" 1fr
    "seven eight nine multiplication" 1fr
    "four five six minus" 1fr
    "one two three plus" 1fr
    "numberZero numberZero changeToDecimal equals" 2fr / 1fr 1fr;
}

.output {
  grid-area: output;
}

.clear {
  grid-area: clear;
}

.positiveNegative {
  grid-area: positiveNegative;
}

.percent {
  grid-area: percent;
}

.division {
  grid-area: division;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.multiplication {
  grid-area: multiplication;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.minus {
  grid-area: minus;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.plus {
  grid-area: plus;
}

.numberZero {
  grid-area: numberZero;
}

.changeToDecimal {
  grid-area: changeToDecimal;
}

.equals {
  grid-area: equals;
}